/* Estilos para os botões de navegação customizados */
.slider-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none; /* Oculto por padrão em mobile */
  place-items: center;
  transition: background-color 0.3s ease;
}

@media (min-width: 640px) {
  .slider-nav-button {
    display: grid;
  }
}

.slider-nav-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
